{% extends 'pages/base.html' %}

{% block title %}Home - My Website{% endblock %}

{% block content %}
<body style="background-color: #FFC0CB;">
  </body>
  
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1>About Me</h1>
        <p>
          I am a dedicated and passionate professional with a strong background in software engineering. 
          Im my free time I spend hours coding and researching new ways to better my projects.I also like legos and Hiking
        </p>
        <h2>Education</h2>
        <p>
          Bachelor of Science in Computer Science, University of Memphis (2020-2024)
        </p>
        <h2>Skills</h2>
        <ul>
          <li>JavaScript</li>
          <li>Ruby on Rails</li>
          <li>HTML/CSS</li>
        
        </ul>
        <h2>Achievements</h2>
        <ul>
          <li>Won the Best Project Award at Tech Conference 2020</li>
          <li>Published a research paper on Artificial Intelligence in New York Journal of Computer Science</li>
          <li>Completed a certification in Web Development from Code Academy</li>
          
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
