
<body style="background-color: #ADD8E6;">

  </body>
  
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <h1>Welcome to My Portfolio</h1>
        <p class="lead">I'm excited to share my journey and expertise with you.</p>
        <p>
          Welcome to my portfolio! I'm currently an undergraduate student at the University of Memphis, 
          passionate about web development and eager to showcase my work. This site serves as a platform 
          where I can share my projects, skills, and experiences. As a dedicated computer science student, 
          I have developed a solid foundation in programming languages such as Python, Java, and C++.
          My expertise lies in software development, with a focus on building scalable and efficient applications. 
          I am proficient in various frameworks and technologies, including Django and Ruby. 
          
        </p>
        <h2>Feel free to explore and get in touch! </h2>
        <p> type /home for home </p>
        <p> type /about for about me  </p>
        <p> type /work for my works  </p>
        <p> type /contact to contact me  </p>
        </p>
      </div>
    </div>
  </div>
  